
*.pyc
maxatac.egg-info/dependency_links.txt
maxatac.egg-info/not-zip-safe
maxatac.egg-info/PKG-INFO
maxatac.egg-info/requires.txt
maxatac.egg-info/SOURCES.txt
maxatac.egg-info/top_level.txt
maxatac.egg-info/top_level.txt
.idea
.idea/
.idea/maxATAC.iml
.idea/maxATAC.iml
.idea/maxATAC.iml
/data/test/
docs/notebooks/examples/.ipynb_checkpoints/RandomRegionsGenerator-checkpoint.ipynb
*.log
*.log
*.h5
snakemake/dag.svg
